.title {
  font-size: 80%;
  text-align: left;
}

.title a {
  color: #a00;
  text-decoration: none;
}

.title a.extra {
  color: #aaa;
  text-decoration: none;
  margin-left: 1em;
}

.title a.extra:hover {
  color: black;
}

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
  /* Truncation */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

div.content.main {
  width: 600px;
  margin: 50px 0 50px -300px;
}

.article h1 {
  font-size: 1.7em;
  font-weight: bold;
  margin-bottom: 0.3em;
}

.article h2 {
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 0.3em;
}

.article pre {
  overflow: auto;
}

/* GCSE */
#gs_tti50 {
  padding-bottom: 4px;
}

/* From: http://mattgemmell.com/cover-images/ */
.cover-banner {
	width: 100%;
	height: 100vh;
	max-height: 1067px;

	position: relative;
	top: -294px;
	margin: 0 auto;
	padding: 0;
	overflow: visible;

	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-size: cover;
}

/* From: https://css-tricks.com/text-blocks-over-image/ */
.cover-banner h1 {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    color: white;
}
