html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, hr, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "PT Sans", serif;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0 1px 0 #FFF;
    line-height: 1.55em;
    font-weight: normal;
    font-size: inherit;
 }



body {
    width: 100%;
    font-size: 110%;
    padding: 3em 0 2.5em 0;
    background-color: #FFF;
    -webkit-background-size: 6.25em 6.25em;
}

a {
    color: #195bc2;
    text-decoration: none;
    font-family: inherit;
    position: relative;
    font-size: inherit;
}

a:hover {
    text-decoration: underline;
}

a:active {
    bottom: -1px;
}

td.title {
    color: #195bc2;
}

strong, b {
    font-weight: bold;
}

div.content {
    max-width: 32em;
    width: auto;
    padding: 0 1.2em;
    margin: 0 auto;
    position: relative;
}

div.content.article {
    max-width: 36em;
}

div.content.header {
    margin-top: 0;
}

div.content.header a {
    font-size: 1.4em;
    font-weight: bold;
}


hr {
    height: 1px;
    background-color: #efefef;
    width: 100%;
    margin: 2.5em 0;
}

#header {
  text-align: center;
}

h1 {
    font-size: 2.4em;
    font-weight: bold;
    margin-bottom: 0;
}

img#avatar {
  width: 7.5em;
  height: 7.5em;
  margin-bottom: 1.25em;
}

.header h1 {
    font-size: 1.3em;
}

.header h1 a {
    color: #000;
}

.header h1 strong {
    color: #000;
    font-weight: bold;
}

.footer p {
    font-size: .95em;
    font-weight: bold;
}

.footer a {
    font-weight: bold;
}

.footer #twitter {
    background: url('/images/twitter.png') no-repeat;
    background-size: 100%;
    display: block;
    float: right;
    margin-top: 0.05em;
    margin-right: 0.4em;
    width: 1.6em;
    height: 1.6em;
    opacity: 0.3;
}

.footer #twitter:hover {
    opacity: 1;
}

h2 {
    font-size: 1.3em;
    margin-bottom: .4em;
}

#header h3 {
  margin-top: 1em;
  font-size: 1.05em;
  display: block;
  font-weight: normal;
}

.header h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.3em;
}

h5 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 2em 0 .3em 0;
}

.more, a.more, div.app a.more, .header a.more {
    color: #b4b4b4;
    font-size: 0.5em;
    font-weight: bold;
    margin-left: 0.5em;
}

a.more.arrow {
    font-size: 1em;
}

h3 a.more {
    margin-left: 1em;
    bottom: 1px;
}

h3 a.more:active {
    margin-left: 1em;
    bottom: 0;
}

a.more:hover, div.app a.more:hover {
    color: #195bc2;
}

table {
    width: 100%;
}

table td {
    padding: 0.2em 0;
}

table td.stars {
    width: 4em;
}

table td.forks {
    width: 3.5em;
}

#articles td.date {
    width: 5em;
}

#repositories td.stars, #repositories td.forks, #articles td.date {
    color: #838383;
    font-size: 0.9em;
}

#repositories td.stars, #repositories td.forks {
    text-align: right;
}

#repositories td.spacer {
    width: 3em;
}

#repositories td.stars.header {
    background-repeat: no-repeat;
    background-position: left 0.38em;
    background-image: url('/images/github-stars.png');
    background-size: 16px 16px;
}

#repositories td.forks.header {
    background-repeat: no-repeat;
    background-position: left 0.38em;
    background-image: url('/images/github-forks.png');
    background-size: 16px 16px;
}





#articles td.title {
    max-width: 140px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#articles table {
    width: 100%;
}

.article p, .article li, .article i {
    font-size: 1.05em;
    line-height: 1.55em;
}

.article p {
    margin-bottom: 1em;
}

.article p#date {
    color: #838383;
    margin-bottom: 0.4em;
    font-size: 0.8em;
    font-weight: bold;
}

.article br {
    height: 0;
}

.article ul, .article ol {
    margin-left: 1.25em;
    margin-bottom: 1.25em;
}

.article li {
    margin-bottom: 0.6em;
}

.article strong {
    font-weight: bold;
}

.article h3 {
    margin-bottom: 0.7em;
}

.article h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 1.3em 0 .4em 0;
}

.article h4 {
    font-size: 1.4em;
    font-weight: bold;
    margin: 1.2em 0 .4em 0;
}

.article img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}

.article div.gist div span {
  font-family: "Monaco", "Courier";
  font-size: 1.4em;
  line-height: 1.4;
}

.article div.gist .gist-meta {
    font-size: 1.4em;
    line-height: 1.4em;
}

.article div.gist pre {
  overflow: visible;
}

.article table {
    margin: 1.2em auto 1.8em auto;
    border-spacing: 0;
    font-size: 1em;
    background-color: #edeff1;
    padding: 0 0 0 10px;
}

.article table th {
    font-weight: bold;
    text-align: left;
    padding-right: 2.5em;
    border-bottom: 1px solid #ebebeb;
}

.article table td {
    padding-right: 2em;
}

pre, code {
  font-size: 0.8em;
  font-family: "Monaco", "Courier";
}

.article pre {
    overflow: scroll;
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 0.2em 0.5em 0.2em 0.5em;
  background-color: #edeff1;
    border: 1px solid #e3e3e3;
    font-family: "Monaco", "Courier";
    font-size: 0.8em;
}

.article code {
    padding: 0 0.4em;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 0.2em;
    font-family: "Monaco", "Courier";
    font-size: 0.8em;
}

.article pre > code {
    font-family: "Monaco", "Courier";
    background-color: inherit;
    font-size: 0.9em;
    line-height: 1.7em;
    padding: 0;
    border: 0;
}

.article #share-buttons {
    margin: 2em 0 0 0;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
    #repositories td.stars.header { background-image: url('/images/github-stars@2x.png'); }
    #repositories td.forks.header { background-image: url('/images/github-forks@2x.png'); }
}

@media (max-width: 550px) {
    body {
        font-size: 85%;
        padding: 1.3em 0 1.4em 0;
    }

    #header {
        margin-top: 2em;
    }

    hr {
        margin: 1.4em 0.7em;
        width: auto;
    }

    .footer:before {
        content: "";
    }

    .article h1 {
        font-size: 1.4em;
    }

    #repositories td.spacer {
        width: 2em;
    }
}
