<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <title>Kiara Robles » {{ page.title }}</title>

   <link rel="stylesheet" href="/css/global.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/custom.css" type="text/css" media="screen, projection" />
   <link href="http://feeds.feedburner.com/KiaraRobles" rel="alternate" title="Kiara Robles" type="application/atom+xml" />

   <!-- Google Analytics -->
   <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-63387026-1', 'auto');
     ga('send', 'pageview');
   </script>
   <!-- Google Analytics end -->

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

    <!-- Facebook -->
    <meta property="og:site_name" content="Kiara Robles"/>
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.meta-description }}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="/images/ruby-logo.png" />

    <meta name="viewport" id="viewport" content="width=device-width, user-scalable=no, minimum-scale=1, maximum-scale=1">
    <meta charset="UTF-8">
    <meta name="author" content="Kiara Robles" />
    <meta name="description" content="{{ page.meta-description }}" />
</head>
<body>

  <div class="content header article">
    <div class="site">
      <div class="title">
        <a href="/">Kiara Robles</a>
        <!--  <a class="extra" href="/archives">archives</a> -->
        <a class="extra" href="/portfolio">portfolio</a>
        <a class="extra" href="https://github.com/kiaraRobles">github</a>
        <a class="extra" href="https://twitter.com/anarchoass">twitter</a>
      </div>
    </div>
  </div>

  <hr>

  {{ content }}

  <hr>

  <div class="content footer article">
    <div class="contact">
      <p>

      </p>
    </div>
  </div>
</div>

</body>
</html>
